@font-face {
  font-family: 'reg';
  font-display: swap;
  src: url("../fonts/GoloTextReg.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  font-display: swap;
  src: url("../fonts/GoloTextBold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  color: #000;
  font-family: "reg", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
}

ol, ul {
  list-style: none;
  font-size: 18px;
}

div, span, article, nav, section, main, header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  padding: 10px 15px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  width: 100%;
  font-family: "bold", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.title {
  font-family: "bold", sans-serif;
  font-size: 34px;
  margin-bottom: 20px;
}

.button {
  background-color: #4d4dff;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(120, 120, 120, 0.76);
          box-shadow: 0px 0px 25px -9px rgba(120, 120, 120, 0.76);
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #000;
  background-color: #d3deff;
}

.header-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.header-top-wrap-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: "bold", sans-serif;
  color: #000;
}

.header-top-wrap-left a img {
  margin-right: 5px;
}

.header-top-wrap-center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-wrap-center ul li {
  position: relative;
}

.header-top-wrap-center ul li a {
  padding: 5px;
  font-size: 16px;
  color: #000;
  font-family: "bold", sans-serif;
}

.header-top-wrap-center ul li.menu-item-has-children ul {
  position: absolute;
  display: none;
  min-width: 160px;
  top: 22px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.header-top-wrap-center ul li.menu-item-has-children ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-top-wrap-center ul li.menu-item-has-children ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 4px 15px;
  display: flex;
}

.header-top-wrap-center ul li.menu-item-has-children ul li a:hover {
  background-color: #4d4dff;
  color: #fff;
}

.header-top-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-top-wrap-right a:first-child {
  color: #000000;
  font-family: "bold", sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.header-top-wrap-right a:last-child {
  color: #4d4dff;
  font-size: 18px;
}

.header-main {
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center center;
}

.header-main button {
  margin-bottom: 100px;
  width: 270px;
  margin-top: 20px;
}

.header-main h1 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 42px;
  margin-right: 300px;
}

.header-main h1 span {
  font-size: 52px;
  line-height: 48px;
}

.service {
  padding: 20px 0;
}

.service-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.service-wrap-item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin-bottom: 25px;
  min-height: 235px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.service-wrap-item div.button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 240px;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 12;
}

.service-wrap-item div.button:hover {
  background-color: #4d4dff;
  color: #fff;
}

.service-wrap-item:hover div.button {
  opacity: 1;
}

.service-wrap-item:hover span {
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 50px;
}

.service-wrap-item span {
  z-index: 10;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-family: "bold", sans-serif;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.service-wrap-item img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio-wrap-item {
  padding: 20px;
}

.portfolio-wrap-item-top img {
  width: 100% !important;
  height: auto !important;
}

.portfolio-wrap-item-bot h4 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.portfolio-wrap-item-bot p b {
  margin-left: 2px;
  font-size: 16px;
  font-family: "bold", sans-serif;
  font-weight: 700;
}

.portfolio button.slick-arrow {
  position: absolute;
  top: 38%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  background: transparent;
  border: 0;
  border-radius: 50%;
  background-image: url(../img/icons/back.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.portfolio button.slick-arrow:focus {
  outline: none;
}

.portfolio button.slick-next {
  right: -10px;
  z-index: 10;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.portfolio button.slick-prev {
  left: -10px;
  z-index: 10;
}

.footer {
  padding: 30px 0 0 0;
}

.footer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  font-size: 18px;
  background-color: #fff;
}

.footer-main {
  background-color: #ebf1f4;
  padding: 60px 0;
}

.footer-main div.title {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer-main-wrap-map {
  border-radius: 15px;
  background-color: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 25px -9px rgba(120, 120, 120, 0.76);
          box-shadow: 0px 0px 25px -9px rgba(120, 120, 120, 0.76);
}

.footer-main-wrap-map img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.footer-main-wrap-map p {
  font-size: 16px;
  line-height: 20px;
}

.footer-main-wrap-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.footer-main-wrap-toggle div {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
}

.footer-main-wrap-toggle div:first-child {
  background-color: #4d4dff;
  border-radius: 13px 0 0 13px;
}

.footer-main-wrap-toggle div:last-child {
  background-color: #d3deff;
  color: #000000;
  border-radius: 0 13px 13px 0;
}

.footer-main-wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-main-wrap-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 20px;
}

.footer-main-wrap-top-item b {
  margin-bottom: 5px;
  font-size: 20px;
  font-family: "bold", sans-serif;
}

.footer-main-wrap-top-item p, .footer-main-wrap-top-item a {
  font-size: 18px;
}

.footer-main-wrap-top-item a {
  color: #000000;
}

.footer-main-wrap-top-item a:hover {
  color: #4d4dff;
}

.calc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc-wrap-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "bold", sans-serif;
  font-size: 20px;
}

.calc-wrap-right div:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calc-wrap-right div:first-child span {
  font-size: 32px;
  padding: 0 5px;
}

.calc-wrap-right div:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calc-wrap-right div:last-child button {
  margin-top: 10px;
  width: 100%;
}

.calc-wrap-right div:last-child span {
  text-align: center;
  text-decoration: underline;
}

.calc-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.calc-wrap-left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.calc-wrap-left-top b {
  font-size: 20px;
  margin-top: 15px;
}

.calc-wrap-left-top span {
  background-color: #ebf1f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 40px;
  font-size: 20px;
  border-radius: 13px;
  margin-bottom: 20px;
  font-family: "bold", sans-serif;
}

.calc-wrap-left-top input {
  padding: 20px 0;
}

.calc-wrap-left-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.calc-wrap-left-bot div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 5px;
}

.calc-wrap-left-bot div b {
  font-size: 16px;
}

.calc-wrap-left-bot div input, .calc-wrap-left-bot div select {
  background-color: #ebf1f4;
  border: none;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

/* range */
input[type='range'] {
  display: block;
}

input[type='range']:focus {
  outline: none;
}

#inputDiv {
  width: 100%;
  position: relative;
}

#etiqueta {
  width: 0px;
  height: 0px;
  position: absolute;
  z-index: -11;
  background-color: transparent;
  color: white;
  font-size: 0px;
  text-align: center;
  padding-top: 0px;
  top: -45px;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  margin-top: -10px;
}

input[type=range]::-moz-range-thumb {
  background-color: #d3deff;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #d3deff;
  width: 20px;
  height: 20px;
  border: 3px solid #d3deff;
  border-radius: 50%;
}

/* 2.2 TRACK */
input[type=range]::-webkit-slider-runnable-track {
  background-color: #fff;
  height: 10px;
  border-radius: 10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #d3deff;
  height: 10px;
  border-radius: 10px;
}

input[type=range]::-ms-track {
  background-color: #d3deff;
  height: 10px;
  border-radius: 10px;
}

input[type=range]::-ms-fill-lower {
  background-color: #4d4dff;
}

input[type=range]::-ms-fill-upper {
  background-color: #d3deff;
}

.burger {
  z-index: 50;
  display: none;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #4d4dff;
  top: 20px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.burger span {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 25px;
  top: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger span:nth-child(2) {
  top: 19px;
}

.burger span:nth-child(3) {
  top: 26px;
}

.burger-active span {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.burger-active span:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: 20px;
}

.burger-active span:nth-child(2) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  top: 20px;
}

.burger-active span:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-135deg);
          transform: translateX(-50%) rotate(-135deg);
  top: 20px;
}

.move-burger {
  top: 20px !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 255, 0.2);
  z-index: 90;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateX(-500%);
          transform: translateX(-500%);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  z-index: 95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  padding: 20px;
  background-color: #fff;
  border-radius: 13px;
  -webkit-transition: 1s;
  transition: 1s;
}

.popup div.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.popup div.small {
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

.popup div.small a {
  color: #4d4dff;
}

.popup div.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.popup input {
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin-top: 5px;
  padding: 15px;
}

.popup input.button {
  min-width: 200px;
  width: 100%;
  margin-top: 25px;
}

.popup label {
  margin-top: 15px;
}

.popup-active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 1199px) {
  .calc-wrap-left-bot {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .calc-wrap-left-bot div {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-bottom: 20px;
  }
  .service {
    padding-top: 0;
  }
  .service-wrap-item {
    min-height: 200px;
  }
  .header-main {
    min-height: 600px;
  }
  .header-main button {
    margin-bottom: 140px;
  }
  .header-top-wrap-right a:first-child {
    font-size: 14px;
  }
  .header-top-wrap-right a:last-child {
    font-size: 16px;
  }
  .header-top-wrap-center ul li a {
    font-size: 12px;
    padding: 0 3px;
  }
  .header-top-wrap-left a {
    font-size: 17px;
  }
  .header-top-wrap-left a img {
    width: 60px;
  }
}

@media (max-width: 992px) {
  .calc-wrap-left {
    width: 100%;
  }
  .header-top-wrap-center ul li.menu-item-has-children ul {
    position: relative;
    display: block;
    padding: 0;
    font-size: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
    top: auto;
    min-width: auto;
  }
  .header-top-wrap-center ul li.menu-item-has-children ul li a {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  div.title {
    font-size: 24px;
  }
  .footer-main {
    padding-top: 25px;
  }
  .footer-main-wrap div.title {
    margin-top: 10px;
  }
  .footer-main-wrap-top-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .calc-wrap-left {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-wrap-right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-wrap-right div button {
    max-width: 320px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 130px;
  }
  .service-wrap-item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin-bottom: 10px;
  }
  .burger {
    display: block;
  }
  .header-top-wrap-center {
    z-index: 50;
  }
  .header-top-wrap-center ul {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    border-radius: 0 0 13px 0;
    padding: 40px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  .header-top-wrap-center ul li a {
    font-size: 16px;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 768px) {
  .footer-main-wrap-map {
    padding: 20px 10px;
  }
  .service-wrap-item {
    min-height: 175px;
  }
  .burger {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    right: 20px;
    left: auto;
  }
  .header-main-wrap {
    padding-left: 100px;
  }
  .header-top-wrap {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-top-wrap-right {
    padding-left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 578px) {
  .burger {
    top: 100px;
  }
  .header-main {
    min-height: 400px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-main button {
    margin-bottom: 0;
    width: 220px;
  }
  .header-main-wrap {
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 150px;
  }
  .header-main-wrap h1 {
    margin-right: 0;
    font-size: 30px;
    line-height: 32px;
    margin-top: 70px;
  }
  .header-main-wrap h1 span {
    font-size: 34px;
    line-height: 36px;
  }
  .header-top-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-top-wrap-right {
    padding-left: 30px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (max-width: 440px) {
  .service-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .service-wrap-item {
    margin-bottom: 20px;
  }
  .portfolio button.slick-arrow {
    top: 30%;
  }
  .header-top-wrap-center ul li a {
    font-size: 16px;
  }
  .calc-wrap-left-bot div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .calc-wrap-left-bot div input {
    width: 100%;
    max-width: 100%;
  }
  .service-wrap-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .service div.title {
    padding-left: 15px;
  }
  .header-top-wrap-right {
    padding-left: 10px;
  }
  .header-top-wrap-right a:first-child {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: end;
  }
  .header-main {
    min-height: 400px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-main button {
    margin-bottom: 0;
    width: 220px;
  }
  .header-main-wrap {
    padding-left: 0px;
    margin-right: 0;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-main-wrap h1 {
    margin-right: 0;
    font-size: 30px;
    line-height: 32px;
    margin-top: 46px;
  }
  .header-main-wrap h1 span {
    font-size: 34px;
    line-height: 36px;
  }
}

@media (max-width: 380px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 360px) {
  body {
    background-color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */