@media (max-width: 768px)
  .about
    div.button
      font-size: 14px!important
    &-wrap
      padding: 20px
      b, p, ul li, ol li
        font-size: 14px
      ol, ul
        padding-left: 10px
      h2
        font-size: 20px
        margin-bottom: 20px
      table
        th,tr
          font-size: 9px
          word-break: break-all
        td:nth-child(1)
          padding: 5px
          width: 20%
        td:nth-child(2)
          padding: 5px
          width: 20%
        td:nth-child(3)
          padding: 5px
          width: 40%
        td:nth-child(4)
          padding: 5px
          width: 10%
        td:nth-child(5)
          padding: 5px
          width: 10%
        td.table-dnone, th.table-dnone
          display: none
      table.table-two
        th:nth-child(1), td:nth-child(1)
          padding: 10px
          width: 50%
        th:nth-child(2), td:nth-child(2)
          padding: 10px
          width: 20%
        th:nth-child(3), td:nth-child(3)
          padding: 10px
          width: 30%
  .footer-main-wrap-map
    padding: 20px 10px
  .service-wrap-item
    min-height: 175px
  .burger
    transform: translateX(0)
    right: 20px
    left: auto
  .header
    &-main
      &-wrap
        padding-left: 100px
    &-top
      &-wrap
        justify-content: flex-start
        &-right
          padding-left: 30px
          align-items: center